*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/java/com/example/root/quotes/AddEditSentenceActivity.java
/app/src/main/java/com/example/root/quotes/ChooseTheme.java
/app/src/main/java/com/example/root/quotes/MainActivity.java
/app/src/main/java/com/example/root/quotes/MyApp.java
/app/src/main/java/com/example/root/quotes/MyRVOnItemTouchListener.java
/app/src/main/java/com/example/root/quotes/NotificationReceiver.java
/app/src/main/java/com/example/root/quotes/PreviewTheme.java
/app/src/main/java/com/example/root/quotes/QuoteWidget.java
/app/src/main/java/com/example/root/quotes/QuotesAlarmManager.java
/app/src/main/java/com/example/root/quotes/RandomQuote.java
/app/src/main/java/com/example/root/quotes/SentenceAdapter.java
/app/src/main/java/com/example/root/quotes/SentenceRepository.java
/app/src/main/java/com/example/root/quotes/SentencesFragment.java
/app/src/main/java/com/example/root/quotes/SerializableSentence.java
/app/src/main/java/com/example/root/quotes/SettingSharedPreferences.java
/app/src/main/java/com/example/root/quotes/SettingsActivity.java
/app/src/main/java/com/example/root/quotes/SettingsFragment.java
/app/src/main/java/com/example/root/quotes/SettingsFragment_Old.java
/app/src/main/java/com/example/root/quotes/ThemesActivity.java
/app/src/main/java/com/example/root/quotes/Utility.java
/app/src/main/java/com/example/root/quotes/ViewMotivation.java
/app/src/main/java/com/example/root/quotes/ViewSentenceFragment.java
